/* <i class="fas fa-photo-video"></i> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

/* ############## utility classes ############# */
.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 1.4rem 2.8rem;
    text-decoration: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}




body {
    font-family: 'Red Hat Display', sans-serif;
    /* background-image: url(/pattern-background-mobile.svg); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    /* background-color: hsl(225, 100%, 94%); */
}

/* --------------------------- navbar styling ------------------------------  */

.navbar input[type='checkbox'], .navbar .menu-lines{
    display: none;
}

.navbar {
    box-shadow: 0px 5px 10px 0px rgb(71, 71, 71);
    position: fixed;
    width: 100vw;
    background: #ebece1;
    color: #1b1c25;
    opacity: 0.85;
    z-index: 999;
    
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.logo {
    order: 1;
    font-size: 3rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}

.navbar a{
    color:#4a4a4d;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.1s ease-in-out;
}

.navbar a:hover {
    color: #206a5d;
    text-decoration: underline;
}

/* ################ home background: radial-gradient(#fff,#1b1c25 );area styling ############# */
.banner {
   
    height: 62vh;
    /* padding-bottom: -90px; */
    background: url("images/marten-bjork-n_IKQDCyrG0-unsplash.jpg"); 
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* padding-top: 100px; */

}

.fa-home {
    font-size: 2.4rem;
}


.explore {
    position: absolute;
    top: 22rem;
    left: 12rem;
    background-color: #ebece1;
    color: #206a5d;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    /* letter-spacing: .01rem; */

    /* box-shadow: 0px 5px 10px 0px #aaa; */
}

.explore:hover {
    text-decoration: underline;
}
.menu-items {
    text-transform: uppercase;
}

/* ===============features========================== */


.features-container {
    width: 80%;
    /* background-color: #ebece1; */
    padding-top: 7rem;
    text-align: center;
    margin: auto;
}

.list {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.list article {
    flex: 1 1 25%;
    min-width: 250px;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #ebece1;
    border-radius: 20px;
    
}

.list article img {
    /* border-radius: 50%; */
    overflow: hidden;
    width: 70px;
    padding: .4rem;
}

.list article h2 {
    margin: 1rem auto;
    font-size: 2.3rem;
    font-weight: 900;
    color: #1b1c25;
}

.list article p {
    color: #4a4a4d;
    font-size: 1.4rem;
    line-height: 2rem;
}
.list article a {
    color: #206a5d;
    display: inline-block;
    margin: 1.5rem auto .7rem;
    font-size: 1.48rem;
} 

.list article a:hover {
    text-decoration: none;
    opacity: 0.85;
}

/* .features {
    margin-bottom: 6rem;
} */

/* ======================== welcome========================= */
#about{
    padding-top: 9rem;
}
.about-container {
    width: 80%;
    margin: auto;
    background-color: #ebece1;
    padding-top: 6rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.about-container img {
    width: 40%;
    display: block;
    margin: 4rem;
    min-width: 150px;
    /* max-width: 100%; */
    flex: 1 1 40%;
    object-fit: cover;

}

.about-text {
    margin: -1rem 4rem;
    flex: 1 1 40%;
}

.about-text h1{
     color: #206a5d;
     font-size: 3.5rem;
     font-weight: 700;
     margin-bottom: .4rem;
}

.about-text h3 {
     color: #1b1c25;
     font-weight: 700;
     font-size: 2.5rem;
     margin-bottom: .4rem;

}

.about-text p {
    color: #4a4a4d;
    font-size: 1.4rem;
    line-height: 2rem;
}

/* #about {
    margin-bottom: 6rem;
} */

/* ===========================services =============== */

#services h1 , #gallery h1{
    color: #206a5d;
    font-weight: 700;
     font-size: 3rem;
     text-decoration: underline;
     margin-bottom: -4rem;
     text-align: center;
     /* border-bottom: 2px solid #1b1c25; */
     /* border-width: 3rem; */
}

#services {
    padding-top: 9rem;
}

.service-container {
    width: 80%;
    /* background-color: #ebece1; */
    padding-top: 6rem;
    text-align: center;
    margin: auto;
}

#gallery {
    padding-top: 8rem;
}

.list {
    margin-bottom: 3rem;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.small-container {
        max-width: 1080px;
        
        /* margin: auto; */
        padding: 0px;
    }
    .col-4 {
        flex: 1 1 25%;
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        /* margin-bottom: 10px; */
        
    }
    .col-4 img {
        width: 100%;
        border-radius: 20px;
    }
    
    

    

   
 
    #gallery img {
         height: 25rem;
         
    }

    #reservation, #login {
        padding-top: 6rem;
    }
   
    #reservation form a, #contact form a {
        /* position: absolute; */
        /* top: 22rem; */
        /* left: 12rem; */
        color: white;
        background-color: #1b1c25;
        background-color: #206a5d;
         
        /* color: ; */
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem 4.6rem;
        text-decoration: none;
        letter-spacing: .1rem;
        /* box-shadow: 0px 5px 10px 0px #aaa; */
        
    }

    form input {
        width: 100%;
        height: 30px;
        margin: 10px 0;
        padding: 0 10px;
        border: 1px solid  #ccc;
    }
    form input:focus, form textarea:focus {
        outline: 1.5px #ccc solid;
        /* outline: none; */
    }

    /* .reservation {
        margin-bottom: 7rem;
    } */


    /* =====================contact-page============================= */

    #contact {
        padding-top: 9rem;
        padding-bottom: 8rem;
    }
    .contact-container {
        width: 80%;
        margin: auto;
        background-color: #ebece1;
        /* padding-top: 6rem; */
        /* text-align: center; */
        display: flex;
        flex-wrap: wrap;
        /* border-radius: 20px; */
        /* overflow: hidden; */

    }

    .contact-left {
        flex-basis: 60%;
        padding: 40px 60px;
    }

    .contact-left h1 {
        /* margin-bottom: 1rem; */
        color: #206a5d;
     font-size: 3.5rem;
     font-weight: 700;
     margin-bottom: 1rem;
    }
    .contact-left p {
        /* margin-bottom: 1rem; */
        color: #4a4a4d;
     font-size: 1.5rem;
     font-weight: 700;
     margin-bottom: 1rem;
     line-height: 1.9rem;
     letter-spacing: .04rem;
    }
    .contact-right h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    } 

    .contact-right {
        flex-basis: 40%;
        padding: 40px;
        background-color: #206a5d;
        color: #ebece1;
        font-size: 1.5rem;
        font-size: 1.4rem;
    line-height: 2rem;
    }

    textarea {
        width: 100%;
        padding: 10px;
        outline: none;
        border: 1px solid #ccc;
        font-size: 1.36rem;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        /* outline: none; */
    }

    tr td:first-child {
        padding-right: 20px;

    }

    tr td {
        padding-top: 20px;

    }

    
   #footer h2 {
       text-align: center;
       font-size: 2rem;
       padding: 3rem;
       font-weight: 500;
       color: white;
       background-color: #1b1c25;
   }

   

    /* ================media queries============= */
    @media (max-width: 828px){

        
        .navbar {
            opacity: 0.95;
        }
    
  .navbar-container  input[type='checkbox'], .navbar-container .menu-lines {
        display: block;
        cursor: pointer;
    }
    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type='checkbox'] {
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 15px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .navbar-container .menu-lines {
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 15px;
        left: 20px;
        z-index: 2;
        /* opacity: 0; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .menu-lines .menu {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333333;
    }
    .navbar-container .menu-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .menu-lines .line2 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .menu-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar .menu-items {
        padding-top: 100px;
        background: white;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        box-shadow: 5px 0px 6px 0px rgb(61, 60, 60);


    }
.navbar .menu-items li {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
    }
.logo {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 3rem;

}

.navbar-container input[type= 'checkbox']:checked ~ .menu-items {
    transform: translateX(0);

}

.navbar-container input[type= 'checkbox']:checked ~ .menu-lines .line1{
    transform: rotate(45deg);
}
.navbar-container input[type= 'checkbox']:checked ~ .menu-lines .line2{
    transform: scaleY(0);
}
.navbar-container input[type= 'checkbox']:checked ~ .menu-lines .line3{
    transform: rotate(-45deg);
}

    }

    @media (min-width: 750px) and (max-width: 999px){
        .col-4 {
            flex: 1 1 50%;
            /* flex-basis: 25%; */
            padding: 10px;
            min-width: 200px;
            /* margin-bottom: 10px; */
            
        }
        .col-4 img {
            width: 100%;
            border-radius: 20px;
        }
    }



    @media (max-width: 1000px){
        .contact-left, .contact-right {
            flex-grow: 1;
           
            
        }
}

@media (max-width:890px) {
    .explore {
    
        top: 28rem;
        left: 4rem;
        
        font-size: 2rem;
        font-weight: 900;
        
    }
}
@media (max-width:660px) {
    .explore {
    
        top: 14rem;
        left: 1rem;
        padding: 1rem 2rem;
        font-size: 1.7rem;
        font-weight: 900;
        
    }

    .banner {
   
        height: 50vh;
       
        background-size: cover;
        
        background-position: top center;
       
    
    }
}

@media (max-width:500px){
    .explore {
        top: 25rem;
        left: 6rem;
        padding: 0.7rem 1.7rem;
    }
}

/* rough  for coden freeecodecamp projects*/
/* #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;

}

#main-doc {
    position: absolute;
    margin-left: 310px;
    
}

@media (max-width: 600px){
#main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
}
} */

@media (max-width: 600px){
    #navbar {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        max-height: 275px;
    }
    
    
}

